---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/featured-terms.html field="subject" title="Categorías principales del archivo" btn-color="outline-secondary" %}
    {% include index/featured-terms.html field="location" title="Localidades" btn-color="outline-secondary" %}
  
  </div>
  <div class="col-md-4">  

    {% include feature/button.html text="Conoce la primera colección del archivo La vida de barrio" link="https://lparisb.github.io/memoriasonorabogota/la-vida-de-barrio.html" color="success" %}
   

  </div>
  <div class="col-md-12">

  </div>
</div>
