---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/featured-terms.html field="subject" title="Categorías principales del archivo" btn-color="info" %}
  
  </div>
  <div class="col-md-4">  


    {% include index/featured-terms.html field="location" title="Localidades" btn-color="outline-secondary" %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

  </div>
</div>
